
div.info{
    padding:5px 5px 0px 5px;
    text-align: center;
}


.question_title{
    display: inline-block;
    margin-right: 10px;
}

.author_info{
    display: inline-block;
    font-weight: bold;
    color: gray;
    margin-bottom: 0;
    margin-right: 5px;
}
