
div.info{
    padding:5px 5px 0px 5px;
    text-align: center;
}


.question_title{
    display: inline-block;
    margin-right: 10px;
}

.author_info{
    display: inline-block;
    font-weight: bold;
    color: gray;
    margin: 0px 5px;
}

.stars{
    display: inline-block;
    margin: 0px 5px;
    text-decoration: none;
    color: pink;
}

.stars:hover{
    color: coral;
}

.staruser{
    font-weight: bold;
    color: gray;
    display:inline-block;
    margin:5px;
}
