{%extends 'common/base.html'%}
{%block content%}
<form action="{% url 'pybo:question_modify' question.id%}" method="post" class="container my-3">
    {% csrf_token %}
    <div class="mb-3">
        <label for="subjcet" class="form-label">제목</label>
        <textarea name="subject" id="subject" class="form-control" rows="1">{{question.subject}}</textarea>
    </div>
    <div class="mb-3">
        <label for="content" class="form-label">질문내용</label>
        <textarea name="content" id="content" class="form-control" rows="10">{{question.content}}</textarea>
    </div>
    <input type="submit" value="저장" class="btn btn-primary">
</form>
{% endblock %}